<div class="hidden sm:block sm:ml-6">
  <div class="flex space-x-4">
    <a
      [routerLink]="['/']"
      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Home</a
    >

    <a
      [routerLink]="['/about']"
      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >About</a
    >

    <a
      [routerLink]="['/projects']"
      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Projects</a
    >

    <a
      [routerLink]="['/contact']"
      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >Contact</a
    >
  </div>
</div>
