<div class="mt-2 py-8 px-4 sm:px-6 lg:px-8 md:flex md:items-center md:justify-evenly">
  <div class="flex space-x-6 md:order-2">
    <a href="https://github.com/valmeza" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500"><i class="fab fa-github-alt"></i></a>
    <a href="https://www.linkedin.com/in/valmeza/" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/valCmeza" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500"><i class="fab fa-twitter"></i></a>
  </div>

  <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; {{ currentYear }} Valeria Meza. All rights reserved.</p>
</div>
