<div class="px-2 pt-2 pb-3 space-y-1">
  <a
    [routerLink]="['/']"
    class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
    >Home</a
  >

  <a
    [routerLink]="['/about']"
    class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
    >About</a
  >

  <a
    [routerLink]="['/projects']"
    class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
    >Projects</a
  >

  <a
    [routerLink]="['/contact']"
    class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
    >Contact</a
  >
</div>
