<div class="m-10">
  <p
    class="text-center mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
  >
    DadLister
  </p>
  <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
    DadLister is a full stack application that uses CRUD functionalities. Users can search through different ads, view ads they've created, view a users profile, and register. Programming Languages used to achieve this were CSS, Bootstrap, JavaEE, JSP, Servlets, MVC, and MySQL
  </p>
  <div class="flex justify-center">
    <a href="https://github.com/The-Tech-Warriors/DadLister" target="_blank" class="mr-2 text-2xl text-gray-400 hover:text-gray-500">
      <i class="fab fa-github-alt"></i
    ></a>
    <!-- <a href="https://" target="_blank" class="ml-2 text-2xl text-gray-400 hover:text-gray-500">
      <i class="fas fa-external-link-square-alt"></i
    ></a> -->
  </div>
</div>
