<div class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mt-10">
      <h1
        class="text-base text-indigo-600 font-semibold tracking-wide uppercase"
      >
        About me
      </h1>

      <div>
        <p
          class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
        >
          A little more about me...
          <i class="far fa-smile-wink"></i>
        </p>
        <p>
          Hello! My name is Valeria (Val), I am a full stack software engineer
          with a passion for development, problem-solving, critical-thinking and
          learning new technologies. With programming, I am most passionate
          about solving problems and figuring out the puzzle.
        </p>
      </div>
      <div>
        <p
          class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
        >
          Hobbies
          <i class="far fa-lightbulb"></i>
        </p>
        <p>
          Hello! My name is Valeria (Val), I am a full stack software engineer
          with a passion for development, problem-solving, critical-thinking and
          learning new technologies. With programming, I am most passionate
          about solving problems and figuring out the puzzle.
        </p>
      </div>
      <div class="rounded shadow p-8">
        <p
          class="text-center m-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
        >
          Skills
          <i class="fas fa-cog animate-spin"></i>
        </p>
        <div class="grid grid-cols-3 gap-4">
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">HTML</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">CSS</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">JavaScript</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">TypeScript</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Angular</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Jasmine(Unit Testing)</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Java</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Spring</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">JUnit</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Mockito</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">MySQL</div>
          <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">DevOps</div>
        </div>
      </div>
    </div>
  </div>
</div>
