<div>
  <p
    class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
  >
    My Social Media
  </p>
  <p class="mb-4 text-center mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
    Always looking forward meeting new people!
  </p>
  <div class="flex justify-center">
    <a
      href="https://github.com/valmeza"
      target="_blank"
      class="text-2xl text-gray-400 hover:text-gray-500"
      ><i class="mr-2 fab fa-github-alt"></i> GitHub</a
    >
  </div>
  <div class="flex justify-center">
    <a
      href="https://www.linkedin.com/in/valmeza/"
      target="_blank"
      class="text-2xl text-gray-400 hover:text-gray-500"
      ><i class="mr-2 fab fa-linkedin"></i> LinkedIn</a
    >
  </div>
  <div class="flex justify-center">
    <a
      href="https://twitter.com/valCmeza"
      target="_blank"
      class="text-2xl text-gray-400 hover:text-gray-500"
      ><i class="mr-2 fab fa-twitter"></i> Twitter</a
    >
  </div>
</div>
