<div>
  <p
    class="mt-4 text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
  >
    Email Me
  </p>
  <p class="mb-4 text-center mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
    If you have any questions, feel free to email me.
  </p>
  <div class="flex justify-center">
    <a href="mailto: valeriameza173@gmail.com">
      <button
        class="bg-transparent hover:bg-indigo-400 text-indigo-600 font-semibold hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded"
      >
        Email Me
      </button>
    </a>
  </div>
</div>
