<div class="m-10">
  <p
    class="text-center m-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
  >
    Skills
    <i class="fas fa-cog animate-spin"></i>
  </p>
  <div class="grid grid-cols-3 gap-4">
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">HTML</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">CSS</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
      JavaScript
    </div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
      TypeScript
    </div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Angular</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
      Jasmine(Unit Testing)
    </div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Java</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Spring</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">JUnit</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Mockito</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">MySQL</div>
    <div class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">DevOps</div>
  </div>
</div>
