<div class="lg:text-center mt-10">
  <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">
    Good <span>{{ greeting }} <i [class]="icon"></i></span>
  </h2>
  <p
    class="mt-10 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
  >
    My name is {{ fullName }}
  </p>
  <img class="m-8 rounded-full h-44 mx-auto" src="../../../../assets/images/me.jpeg" />
  <p class="max-w-2xl text-xl text-gray-500 lg:mx-auto">
    A little about myself, I am an enthusiastic, motivated, and detail-oriented
    full-stack software engineer with a desire to solve problems and develop
    great things. I am always seeking to learn new technologies, work in teams,
    expand my knowledge, and teach others.
  </p>
</div>
