<div class="m-10">
  <p
    class="text-center mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
  >
    Hobbies
    <i class="animate-pulse far fa-lightbulb"></i>
  </p>
  <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
    Is drinking coffee a hobby? Well, when I'm not coding, I enjoy listening to music I have no genre preference,
    exercising, spending time outside (most of the time in my backyard). I've been trying to get into the habit of reading
    more but that is something I'm still working on, and lastly I love twitter not sure if it's a hobby but I like to retweet
    helpful stuff and share helpful tips.
  </p>
</div>
