<div class="m-10">
  <p
    class="text-center mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
  >
    A little more about me...
    <i class="animate-bounce far fa-smile-wink"></i>
  </p>
  <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
    Hello! My name is Valeria (Val), I am a full stack software engineer with a
    passion for development, problem-solving, critical-thinking and learning new
    technologies. With programming, I am most passionate about solving problems
    and figuring out the puzzle.
  </p>
</div>
